---
import Layout from '../layouts/Layout.astro';
import Showcase from '../components/Showcase.astro';
import Card from '../components/Card.astro';

const posts = await Astro.glob('../posts/*.md');
---

<Layout title='Astro Blog'>
    <Showcase
        showCaseHeading='Astro Blog'
        showCaseText='A simple blog built with Astro'
        showExtra={false}
    />

    <section class='page-content'>
        <div class='container'>
            {
                posts.map((post) => {
                    return (
                        <Card
                            cardHeading={post.frontmatter.title}
                            cardContent={post.frontmatter.excerpt}
                            postLink={post.frontmatter.slug}
                            showButton={true}
                        >
                            <p>
                                Written by{' '}
                                <strong>{post.frontmatter.author}</strong> on{' '}
                                {new Date(
                                    post.frontmatter.date
                                ).toLocaleDateString()}
                            </p>
                        </Card>
                    );
                })
            }
        </div>
    </section>
</Layout>
